<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action="/user/changepw" method="post">
    <h1>비밀번호 변경</h1>
    기존 비밀번호 : <input name="password"><br>
    새 비밀번호 : <input name="newpassword1"><br>
    새 비밀번호 확인 : <input name="newpassword2">
    <button>비밀번호 변경하기</button>
</form>



</body>
</html>