<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>로그인페이지</h1>

<form action="/user/login" method="post">
    아이디 : <input name="email">
    비밀번호 : <input name="password">
    <button>로그인 하기</button>
    <a href="/user/signUp">회원가입 하러 가기</a>


</form>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>