<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>상세보기</h1>
    글번호 : <span th:text="${pboardDTO.pboardNum}"></span><br>
    제목 : <span th:text="${pboardDTO.pboardTitle}"></span><br>
    내용 : <span th:text="${pboardDTO.pboardContent}"></span><br>
    <a th:href="@{|/pboard/update/${pboardDTO.pboardNum}|}">수정</a>
    <a th:href="@{|/pboard/del/${pboardDTO.pboardNum}|}">삭제</a>


    <input hidden readonly name="commContentNum">
    <input hidden readonly name="commCategory">
</body>
</html>